<div class="all">
  <img src="/assets/welcome_page_image.png" alt="" />
  <%= render 'shared/form',
    css_class: "new-session",
    action_url: session_url,
    action_text: "Log In",
    user: @user
  %>
</div>
