<div class="all">
  <img src="/assets/welcome_page_image.png" alt="" />
  <% flash[:errors].try(:each) do |error| %>
    <div class="error"><%= error %></div>
  <% end %>
  <%= render 'shared/form',
    css_class: "new-session",
    action_url: session_url,
    action_text: "Log In",
    user: @user
  %>
</div>
