<div class="info">
  <div>
    <div class="blue"></div> = 1 pattern practiced
  </div>
  <div>
    <div class="red"></div> = 1 pattern learned
  </div>
</div>

<div class="chart">
  <div class="6-ago">
    <div class="learning-blocks"></div>
    <div class="practice-blocks"></div>
    <div class="chart-title">6 Days ago</div>
  </div>
  <div class="5-ago">
    <div class="learning-blocks"></div>
    <div class="practice-blocks"></div>
    <div class="chart-title">5 Days ago</div>
  </div>
  <div class="4-ago">
    <div class="learning-blocks"></div>
    <div class="practice-blocks"></div>
    <div class="chart-title">4 Days ago</div>
  </div>
  <div class="3-ago">
    <div class="learning-blocks"></div>
    <div class="practice-blocks"></div>
    <div class="chart-title">3 Days ago</div>
  </div>
  <div class="2-ago">
    <div class="learning-blocks"></div>
    <div class="practice-blocks"></div>
    <div class="chart-title">2 Days ago</div>
  </div>
  <div class="1-ago">
    <div class="learning-blocks"></div>
    <div class="practice-blocks"></div>
    <div class="chart-title">1 Day ago</div>
  </div>
  <div class="0-ago">
    <div class="learning-blocks"></div>
    <div class="practice-blocks"></div>
    <div class="chart-title">Today</div>
  </div>
</div>
