<div class="top">
  <input class="search" type="text" name="username" placeholder="Find friends">
  <button class="see-followees" type="button">See people you follow</button>
  <button class="see-followers" type="button">See your followers</button>
</div>
<ul class="users"></ul>
