<div class="user-show">
  <button class="all-users" type="button">All Users</button>
  <div class="avatar"><img src="<%= user.escape('gravatar_url') %>" alt="" /></div>
  <div class="name"><%= user.escape('username') %></div>
  <% var following_text = Jugglog.currentUser.isFollowing(user) ? "Unfollow" : "Follow" %>
  <button class="switch-follow"><%= following_text %></button>
</div>
