<div class="user-show">
  <button class="all-users" type="button">All Users</button>
  <% if(user.id !== Jugglog.currentUser.id) { %>
    <% var following_text = Jugglog.currentUser.isFollowing(user) ? "Unfollow" : "Follow" %>
    <button class="switch-follow"><%= following_text %></button>
  <% } %>
  <div class="avatar"><img src="<%= user.escape('wavatar_url') %>" alt="" /></div>
  <div class="name"><%= user.escape('username') %></div>
</div>

<div class="show-practiced-patterns">
  <p class="heading">Recently practiced patterns</p>
  <ul class="practiced-patterns"></ul>
</div>
<form class="add-comment">
  <textarea class="comment-text" name="comment[body]" rows="1" cols="40" placeholder="Leave a new Comment"></textarea>
  <button class="post-comment" type="button">Post</button>
  <button class="cancel-comment" type="button">Cancel</button>
</form>
<ul class="comments"></ul>
