<script charset="utf-8">
  function onLoad(img) {
    $(img).parent().find('.sk-double-bounce1').css('display', 'none');
    $(img).parent().find('.sk-double-bounce2').css('display', 'none');
    $(img).css('opacity', '1');
  }
</script>

<div class="author-avatar sk-spinner-double-bounce sk-spinner">
  <div class="sk-double-bounce1"></div>
  <div class="sk-double-bounce2"></div>
  <img
    src="<%= comment.author().escape('wavatar_url') %>"
    onload="javascript:onLoad(this);"
    alt=""
    style="opacity: 0;"
  />
</div>
<div class="comment-body"><%= comment.escape('body') %></div>
<div class="time-and-author">
  posted <%= moment(comment.escape('created_at')).fromNow() %>
  by <div class="author"><%= comment.author().escape('username') %></div>
</div>
<% if(parseInt(comment.escape('author_id')) === Jugglog.currentUser.id) {%>
  <button class="delete" type="button">delete</button>
<% } %>
