<div class="num-jugglers-select">
  <button class="1-juggler btn num-juggler">Solo</button>
  <button class="2-juggler btn num-juggler">Duet</button>
  <button class="3-juggler btn num-juggler">Trio</button>
  <button class="4-juggler btn num-juggler">Quartet</button>
</div>
