<div class="num-jugglers-select">
  <button class="1-juggler">Solo</button>
  <button class="2-juggler">Duet</button>
  <button class="3-juggler">Trio</button>
  <button class="4-juggler">Quartet</button>
</div>
<ul class="patterns"></ul>
