<a class="pattern-show" href="javascript:void(0)">
  <%= console.log(pattern) %>
  <div class="icon"><img src="<%= '/assets/' + pattern.escape('num_clubs') + '_clubs.jpg' %>" alt="" /></div>
  <%= pattern.escape('title') %>
</a>
