<button class="pattern-tree" type="button">Back to Patterns</button>
<div class="title"><%= pattern.escape('title') %></div>
<div class="show-parents">
  <p class="heading">Prerequisites</p>
  <ul class="parents"></ul>
</div>
<div class="show-children">
  <p class="heading">Continuation Patterns</p>
  <ul class="children"></ul>
</div>
<div class="body"><%= pattern.escape('body') %></div>
<form class="add-comment">
  <textarea name="comment[body]" rows="1" cols="40" placeholder="Leave a new Comment"></textarea>
  <button class="post-comment" type="button">Post</button>
</form>
<ul class="comments"></ul>
