<div class="all">
  <img src="/assets/welcome_page_image.png" alt="" />
  <%= render 'shared/form',
    css_class: "new-user",
    action_url: users_url,
    action_text: "Sign Up",
    user: @user
  %>
</div>
