#main {
  .add-comment {
    background: #eeeeee;

    padding: 20px 30px;
    margin: 20px -30px;
    overflow: auto;

    .comment-text {
      display: inline-block;
      float: left;
      transform: translateY(3px);
    }

    .post-comment {
      display: inline-block;
      float: left;
      padding: 6px 12px;
      margin-left: 10px;
      line-height: 20px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 100px;
      color: white;
      background: rgb(126, 181, 48);

      &:hover {
        color: white;
        background: #8ee000;
      }

      &:focus {
        outline: 0;
      }
    }

    .cancel-comment {
      // display: inline-block;

      display: none;

      padding: 6px 12px;
      line-height: 20px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 100px;
      color: white;
      background: #b6b6b6;
      margin-bottom: 18px;
      margin-left: 8px;

      &:hover {
        color: white;
        background: #a7a7a7;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .comments {
    padding: 0;

    .comment-list-item {
      display: block;
      clear: left;
      width: 100%;
      min-height: 40px;
      overflow: auto;
      text-align: left;
      margin-bottom: 12px;
      position: relative;

      .author-avatar {
        display: inline-block;
        float: left;
        width: 50px;

        &:hover {
          cursor: pointer;
        }
      }

      .comment-body {
        display: inline-block;
        float: left;
        margin-left: 15px;
        max-width: 350px;
        word-wrap: break-word;
        margin-bottom: 15px;

        &:hover {
          cursor: default;
        }
      }

      .time-and-author {
        color: rgb(205, 205, 205);
        float: left;
        clear: both;
        transform: translate(65px, -15px);

        &:hover {
          cursor: default;
        }

        .author {
          display: inline-block;
          color: rgb(295, 75, 25);

          &:hover {
            cursor: pointer;
          }
        }
      }

      .delete {
        display: inline-block;
        float: right;
        padding: 6px 12px;
        line-height: 20px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 100px;
        color: white;
        background: #b6b6b6;
        margin-left: 8px;
        position: absolute;
        bottom: 15px;
        right: 0;

        &:hover {
          color: white;
          background: #a7a7a7;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }
}
