.navbar {
  height: 70px;
  background: rgba(32, 166, 231, 0.8);
  border-radius: 0px;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  line-height: 0px;

  .container-fluid {
    max-width: 1140px;
  }

  a {
    color: white;
  }

  .navbar-brand {
    margin: 15px 0;
    height: 40px;
    line-height: 0px;
    font-size: 32px;

    &:hover {
      color: white;
    }

    &:focus {
      color: white;
    }
  }

  .navbar-left {
    a {
      margin: 15px 2px;
      height: 40px;
      border-radius: 100px;
      line-height: 10px;

      &:hover {
        color: white;
        background: rgb(20, 147, 209);
      }

      &:focus {
        background: inherit;
        color: white;
      }
    }

    .active a {
      color: white;
      background: rgb(20, 147, 209);
    }
  }

  .navbar-right {
    a {
      margin: 15px 0;
      height: 40px;
      border-radius: 100px;
      line-height: 10px;

      &:hover {
        background-color: inherit;
        color: white;
      }

      &:focus {
        background: inherit;
        color: white;
      }
    }

    .dropdown {
      .name:hover {
        cursor: default;
      }

      &:hover {
        > a {
          background-color: inherit;
          color: white;
        }

        > .dropdown-menu {
          display: block;
          margin-top: 0px;
          border-radius: 10px;
          border: none;
          transform: translateY(-10px);
          left: 0px;

          li {
            height: 30px;
            padding: 0;
            margin: 0;

            a {
              height: 30px;
              padding: 0 20px;
              margin: 0;
              line-height: 30px;

              &:hover {
                background-color: #1caff6;
                border-radius: 0;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .welcome a {
    background-color: white;
    color: rgb(11, 65, 118);

    &:focus {
      background-color: white;
      color: rgb(11, 65, 118);
    }

    &:hover {
      color: rgb(11, 65, 118);
      background-color: rgb(230, 230, 230);
    }
  }

  .dropdown-menu a {
    color: black;
  }

  .loader {
    display: none;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid rgba(32, 166, 231, 0.8);
    -webkit-animation: load 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-radius: 50%;
    width: 17px;
    height: 17px;

    &:after {
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  }
  @-webkit-keyframes load {
    0% {
      -webkit-transform: translate(77px, 23px) rotate(0deg);
      transform: translate(78px, 23px) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(78px, 23px) rotate(360deg);
      transform: translate(78px, 23px) rotate(360deg);
    }
  }
  @keyframes load {
    0% {
      -webkit-transform: translate(78px, 23px) rotate(0deg);
      transform: translate(78px, 23px) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(78px, 23px) rotate(360deg);
      transform: translate(78px, 23px) rotate(360deg);
    }
  }
}
