#all {
  width: 1060px;
  display: block;
  margin: 110px auto;
  font-size: 15px;
  font-weight: 500px;
  font-family: 'Varela Round', sans-serif;
  background-attachment: fixed;

  > div {
    display: block;
    border: 2px solid rgb(218, 218 ,218);
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding: 30px;
  }
}

#main {
  width: 680px;
  float: left;
  padding: 35px 40px 40px 40px;
}

#sidebar-top {
  width: 340px;
  height: 211px;
  float: right;
  margin: 0 0 40px 0;
}

#sidebar-bottom {
  background-color: rgb(233, 233, 233);
  width: 340px;
  height: 232px;
  float: right;
  clear: right;
}
