body {
  background-image: image-url('welcome_page_background.png');
  background-color: #cccccc;
  background-size: 2000px;
  background-repeat: repeat-y;
}

.all {
  text-align: justify;
  width: 1000px;
  margin: auto;
  margin-top: 20vh;
  position: relative;

  img {
    width: 400px;
    display: inline-block;
    float: left;
    vertical-align: middle;
  }

  .error {
    display: inline-block;
    text-align: center;
    font-size: 28px;
    color: red;
    width: 400px;
    float: right;
    // margin-bottom: 30px;
    // background-color: white;
    // background-image: radial-gradient(closest-side, rgba(255 ,255, 255, 1), rgba(255, 255, 255, 0));
    background-color: rgba(255, 255, 255, .6);
    border-image: radial-gradient(rgba(255 ,255, 255, .6), rgba(255, 255, 255, 0)) 15 repeat;
    border-image-width: 30px;
    border-width: 30px;
  }

  .forms {
    width: 400px;
    display: inline-block;
    float: right;
    text-align: center;
    vertical-align: middle;

    input {
      margin-top: 20px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
}

.new-session, .new-user {
  .username, .password {
    width: 320px;
    height: 55px;
    border: none;
    color: #4b4b4b;
    font-size: 20px;
    border-style: solid;
    border-color: #ebebeb;
    border-width: 2px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    padding-left: 10px;
  }
}

.submit {
  width: 320px;
  height: 55px;
  background: rgb(126, 181, 48);
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;

  &:hover {
    background: #8ee000;
  }
}
