#sidebar-top {
  .show-learned-patterns {
    text-align: center;
    border-radius: 10px;
    margin: 0;

    .learned-patterns {
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 5px 10px;
      width: 60px;
      vertical-align: top;
      transform: translateY(5px);

      .pattern-show {
        color: #dd3813;

        .icon {
          width: 55px;
          height: 55px;
          border-radius: 100px;
          overflow: hidden;
          margin: 0 auto;

          img {
            width: 100%;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        transform: scale(1.1) translateY(5px);
        transition-duration: .2s;
      }
    }
  }
}
