#main {
  .buttons {
    .pattern-tree {
      padding: 6px 12px;
      line-height: 20px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 100px;
      color: white;
      background: rgb(32, 166, 231);
      margin-bottom: 18px;

      &:hover {
        color: white;
        background: rgb(26, 133, 185);
      }

      &:focus {
        outline: 0;
      }
    }

    .log-practice {
      padding: 6px 12px;
      line-height: 20px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 100px;
      color: white;
      background: #cccccc;
      margin-bottom: 18px;
      display: inline-block;
      float: right;

      &:hover {
        cursor: default;
      }

      &:focus {
        outline: 0;
      }

      &.enabled {
        background: rgb(126, 181, 48);

        &:hover {
          color: white;
          background: #8ee000;
          cursor: pointer;
        }
      }

      &:after {
        content: 'Practice logged!';
        color: #aaaaaa;
        float: left;
        position: absolute;
        width: 400px;
        left: 113px;
        opacity: 0;
        transition: all .5s;
      }

      &.logged-transition {
        &:after {
          opacity: 1;
          content: 'Practice logged!';
        }
      }
    }

    .switch-learned {
      padding: 6px 12px;
      line-height: 20px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 100px;
      color: white;
      background: rgb(126, 181, 48);
      margin-bottom: 18px;
      display: inline-block;
      float: right;
      margin-left: 10px;

      &:hover {
        color: white;
        background: #8ee000;
      }

      &:focus {
        outline: 0;
      }
    }
  }



  .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
  }

  .heading {
    font-size: 16px;
    text-align: center;
  }

  .show-parents {
    width: 48%;
    padding: 15px;
    display: block;
    float: left;
    text-align: center;
    background: #eeeeee;
    border-radius: 10px;

    .parents {
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 5px 10px;
      width: 60px;
      vertical-align: top;
      transform: translateY(5px);

      .icon {
        width: 55px;
        height: 55px;
        border-radius: 100px;
        overflow: hidden;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }

      &:hover {
        transform: scale(1.1) translateY(5px);
        transition-duration: .2s;
      }
    }
  }

  .show-children {
    width: 48%;
    padding: 15px;
    display: block;
    float: right;
    text-align: center;
    background: #eeeeee;
    border-radius: 10px;

    .children {
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 5px 10px;
      width: 60px;
      vertical-align: top;
      transform: translateY(5px);

      .icon {
        width: 55px;
        height: 55px;
        border-radius: 100px;
        overflow: hidden;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }

      &:hover {
        transform: scale(1.1) translateY(5px);
        transition-duration: .2s;
      }
    }
  }

  .diagram {
    display: block;
    width: 100%;
    text-align: center;

    img {
      margin-top: 15px;
      width: 100%;
    }
  }

  .body {
    display: block;
    clear: both;
    padding-top: 15px;
  }
}
