#main {
  .pattern-tree {
    padding: 6px 12px;
    line-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    color: white;
    background: rgb(32, 166, 231);
    margin-bottom: 18px;

    &:hover {
      color: white;
      background: rgb(26, 133, 185);
    }

    &:focus {
      outline: 0;
    }
  }

  .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
  }

  .heading {
    font-size: 16px;
    text-align: center;
  }

  .show-parents {
    width: 48%;
    padding: 15px;
    display: block;
    float: left;
    text-align: center;
    background: #eeeeee;
    border-radius: 10px;

    .parents {
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 5px 10px;
      width: 60px;
      vertical-align: top;
      transform: translateY(5px);

      .icon {
        width: 55px;
        height: 55px;
        border-radius: 100px;
        overflow: hidden;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }

      &:hover {
        transform: scale(1.1) translateY(5px);
        transition-duration: .2s;
      }
    }
  }

  .show-children {
    width: 48%;
    padding: 15px;
    display: block;
    float: right;
    text-align: center;
    background: #eeeeee;
    border-radius: 10px;

    .children {
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 5px 10px;
      width: 60px;
      vertical-align: top;
      transform: translateY(5px);

      .icon {
        width: 55px;
        height: 55px;
        border-radius: 100px;
        overflow: hidden;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }

      &:hover {
        transform: scale(1.1) translateY(5px);
        transition-duration: .2s;
      }
    }
  }

  .body {
    display: block;
    clear: both;
    padding-top: 15px;
  }
}
