#main {
  .user-show {
    line-height: 81px;
    display: block;
    overflow: auto;

    .all-users {
      height: 32px;
      line-height: 20px;
      background: rgb(32, 166, 231);
      color: white;
      border-radius: 100px;
      border: none;
      padding: 6px 12px;
      float: left;
      margin-bottom: 30px;

      &:hover {
        background: rgb(26, 133, 185);
        color: white;
      }

      &:focus {
        outline: 0;
      }
    }

    .avatar {
      float: left;
      clear: left;

      img {
        width: 150px;
      }
    }

    .name {
      float: left;
      margin-left: 30px;
      font-size: 36px;
    }

    .switch-follow {
      height: 32px;
      line-height: 20px;
      background: rgb(126, 181, 48);
      color: white;
      border-radius: 100px;
      border: none;
      padding: 6px 12px;
      float: right;
      margin-bottom: 30px;

      &:hover {
        background: #8ee000;
        color: white;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .show-practiced-patterns {
    width: 48%;
    padding: 15px;
    display: block;
    float: right;
    text-align: center;
    background: #eeeeee;
    border-radius: 10px;
    margin: 20px 0;

    .practiced-patterns {
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 5px 10px;
      width: 60px;
      vertical-align: top;
      transform: translateY(5px);

      .icon {
        width: 55px;
        height: 55px;
        border-radius: 100px;
        overflow: hidden;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }

      &:hover {
        transform: scale(1.1) translateY(5px);
        transition-duration: .2s;
      }
    }
  }
}
