<p>
  This site was made as the capstone project for my time at
  <a href="http://www.appacademy.io/">App Academy</a>, a coding bootcamp that
  teaches full stack development using Ruby on Rails. If you're interested in
  being a web developer, I highly recommend their program.
</p>
<p>
  All the pattern content is courtesy of Matt Wise, taken from his book
  Symmetric Passing. Symmetric Passing also includes many fun 4-person patterns
  not listed here. Thanks, Matt! This site would not exist without you!
</p>
